body{
  background-color: LightGrey;
}
#title{
  text-align: center;
  font-size: 60px;
  font-family: monospace;
  margin-bottom: 5px;
  background-color: white;
}
#date{
  text-align: center;
  font-size: 25px;
}
#quote{
  text-align: center;
  font-size: 50px;
  font-family: inherit;
}
#img-div{
  text-align: center;
  padding: 10px;
  margin:auto;
}
img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin:auto;
  width: 60%;
  height: auto%;
  margin-bottom: 10px;
}
#img-caption{
  margin: 20px;
}
#tribute-info{
  margin: auto;
  max-width: 100%;
  width:650px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,1), 0 6px 6px rgba(0,0,0,1);
}
#tribute-link{
  margin-top: 20px;
}
ol{
  font-family: cursive;
}
